body {background-color: WhiteSmoke;}
.container {background-color: #fff;}

h1, h2, h3, h4  {
   font-family: Helvetica, Arial;
}

h2, h3, h4 {
   padding-top: 0.35em;
}

h1 { color: purple;   font-size: 2rem;  }
h2 { color: brown;    font-size: 1.8rem;  }
h3 { color: green;    font-size: 1.5rem;  }
h4 { color: black;    font-size: 1.2rem;  font-weight: 600;}

p, div, tr, th, td {
  font-size: 1.1rem;
  font-family: Tahoma, Verdana, Arial;
}

th {
    color: purple;
    background-color:LemonChiffon !important;
    font-weight:600;
}

a {
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: purple;
}

/* languages and output */
pre[class*="language-"] {
  background-color:black;
  color:lightgreen;
  border-radius: 0px 0px 8px 8px;    
  counter-reset: line;
  padding: 10px 4px 4px 4px;
  margin: 0px;
  margin-top: 0px;
  margin-bottom: 4px;
  line-height:1rem;
}

pre code[class*="language-"] {
    font-family: "Roboto Mono", "Droid Sans Mono", "Lucida Console", "Arial Monospace", monospace, Courier;
    font-size: 0.9rem;
    margin: 0px;
    line-height: 1rem;
}

pre[class*="language-"].line-numbers {
    position: relative;
    padding-left: 3.2rem;
    padding-top: 10px;
    counter-reset: linenumber;
    font-size: 0.9rem;
    line-height: 0;
}

pre span.line {
  display: block;
  line-height: 1rem;
  font-size: 0.9rem;  
  counter-increment: line;
}

.language-out, .output {
  padding: 8px 8px 8px 8px;
}

pre span.line:before {
  content: counter(line);
  display: inline-block;
  border-right: 1px solid gray;
  padding: 0 .1rem;
  margin-right: .1rem;
  color: #888;
  width: 2rem;
  text-align: right;
  font-size: 0.9rem;
}

#main-img {
    border-radius:5px;
    max-width:640px;
}


.top-video {
   position: absolute;
   top: 0;
   height:100%;"
}

.frame-host {
   padding:50% 0 0 0; 
   position:relative;
}

.split-panel {
    hyphens: auto;
}

.panel-heading {
    background-color:seagreen; 
    color: yellow;
    padding-left: 10px;
    margin-top: 10px !important;
    border-radius: 8px 8px 0px 0px;
}

.panel-body {
    border-radius: 0px;     
}

.code-panel {
    height: 100%;    
    background-color: black;   
    color: lightgreen;
    border-radius: 0px 0px 8px 8px;          
}

@media screen and (max-width:640px) {
  .top-video {
     left: 0%;
     width:100%;
  }

  .frame-host {
     padding: 100% 0 0 0; 
     position:relative;
  }

  #main-img {
     width:100%;
  }
}

@media screen and (min-width: 640px) {
    .split-panel {
        height: calc( 100% - 140px );
    }

    .panel-body {
       height: calc( 100% - 45px );    
    }

    #main-img {
        width:100%;
    }

    .top-video {
        position: absolute;
        top: 0;
        left:  15%;
        width: 70%;
    }

    .frame-host {
      padding:50% 0 0 0; 
    }

    #main-img {
      width:70%;
    }

}

.fixed  {
  font-family: "Consolas", "Droid Sans Mono", "Arial Monospace", 
               "Lucida Console";
  font-size: 1.1em;
}

.info {
  color : red;
  background : black;
}

/* Protect for SVG */
.protect {
    pointer-events: none;
}

.bottom-right {
  display:flex;
  align-self:flex-end;
  justify-content: flex-end;
}

.footer {
  position: relative;
  left: 0;
  bottom: 0;
  background-color: silver;
  color: white;
  width: 100%;
  text-align: center;
}


.footer-copyright {
  background-color: gray;
}

.footer-copyright::before {
  content: "Copyright (c) Sage-Code 2022";
  padding-right: 8px;
  color: white; /* Or a color you prefer */
}

/* style used by social image */
.fix-social {
  width:  45px;
  height: 45px;
  overflow: hide;
  position: relative;
}

/* style used by social buttons on first page */
.icon-sm {
  margin: 6px 6px;
  background-color: white;
  color: white;
}

.icon-sm:hover {
  opacity: 0.7;
}

a:hover {
  text-decoration:none;
}

/* youtube play button */
.center {
  text-align:center;
}

.youtube {
  color:white;
  background:red;
  border-radius:6px;
  font-family: "Droid Sans Mono", "Lucida Console", "Arial Monospace", monospace, Courier;
  font-size: 1.1em;
}


.directive-hash {
  color: palevioletred;
}

/* languages */
.keyword {
  color:gold;
}

.impera {
  color: palevioletred;
}

.control {
    color:deepskyblue;
 }

.interrupt {
   color:lightcoral;
 }

.operator {
   color:lightcoral;
 }

.type {
  color:cyan;
}

.title {
  color:springgreen;
}

.subtitle {
  color:silver;
}

.comment {
  color:lightseagreen;
}

.string {
  color:yellow;
}

.builtin {
  color:cyan;
}
